<div class="d-flex">
    <div class="form-div">
        <h2>Contact Us</h2>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter your name">
         
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" formControlName="email"
                    placeholder="Enter your email">
       
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <textarea class="form-control" id="message" formControlName="message" rows="3"
                    placeholder="Enter your message"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">Submit</button>
        </form>
    </div>
</div>